{% extends 'user/basic.html' %} {% load static %}
{% load templatehelpers %}

{% block title %} Properties{% endblock title%}


{% block css %} {% endblock css %} {% block body %}

<!-- Sub banner start -->
<div class="sub-banner">
  <div class="container">
    <div class="breadcrumb-area">
      <h1>Properties</h1>
      <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li class="active">Properties</li>
      </ul>
    </div>
  </div>
</div>

<!-- Sub Banner end -->
<!-- Properties section start -->
<div class="properties-section content-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="sidebar-left">
          <!-- Advanced search start -->
          <div class="widget advanced-search">
            <h3 class="sidebar-title">Advanced Search
            </h3>
            <div class="s-border"></div>
            <div class="m-border"></div>
            <form method="GET" action="/all-properties">
              <div class="form-group">
                <select class="selectpicker search-fields" name="status">
                  <option value="all">All Status</option>

                  {%if properties_data.selected_status == 'Completed'%}
                  <option value="Completed" selected>Completed</option>
                  <option value="Off plan" >Off Plan</option>
                  {%elif properties_data.selected_status == 'Off Plan'%}
                  <option value="Off plan" selected>Off Plan</option>
                  <option value="Completed" >Completed</option>
                  {%else %}
                  <option value="Completed" >Completed</option>
                  <option value="Off plan" >Off Plan</option>
                  {%endif%}
                </select>
              </div>
              <div class="form-group">
                <select class="selectpicker search-fields" name="type">
                  <option value="all_type">All Type</option>
                  {%if properties_data.selected_type == "cash_only"%}
                  <option value="{{cash_only}}" selected>Cash only </option>
                  <option value="buy_to_let">Buy to Let</option>
                  <option value="buy_to_live">Buy to Live</option>
                  {%elif properties_data.selected_type == "buy_to_let" %}
                  <option value="{{buy_to_let}}" selected>Buy to Let</option>
                  <option value="cash_only">Cash only </option>
                  <option value="buy_to_live">Buy to Live</option>
                  {%elif properties_data.selected_type == "buy_to_live" %}
                  <option value="{{buy_to_live}}" selected>Buy to Live</option>
                  <option value="cash_only">Cash only </option>
                  <option value="buy_to_let">Buy to Let</option>
                  {%else%}
                  <option value="cash_only">Cash only </option>
                  <option value="buy_to_let">Buy to Let</option>
                  <option value="buy_to_live">Buy to Live</option>
                  {%endif%}
                </select>
              </div>
              <div class="form-group">
                <select class="selectpicker search-fields" name="location">
                  <option value='City'>All Cities</option>
                  {%for city in common_properties_data.cities%}
                  {%if properties_data.selected_city == city%}
                  <option value="{{city}}" selected>{{city}}</option>
                  {%else %}
                  <option value="{{city}}">{{city | title}}</option>
                  {%endif%}
                  {%endfor%}
                </select>
              </div>
                  <div class="form-group">
                    <select class="selectpicker search-fields" name="bedrooms">
                      <option value='Bedrooms'>All Bedrooms</option>

                      {%if properties_data.selected_bedrooms == "1"%}
                      <option value="1" selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="studio">Studio</option>

                      {%elif properties_data.selected_bedrooms == "2" %}
                      <option value="1">1</option>
                      <option value="2" selected>2</option>
                      <option value="3">3</option>
                      <option value="studio">Studio</option>

                      {%elif properties_data.selected_bedrooms == "3" %}
                      <option value="1">1</option>
                      <option value="2" >2</option>
                      <option value="3" selected>3</option>
                      <option value="studio">Studio</option>
                      
                      {%elif properties_data.selected_bedrooms == "studio" %}
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="studio" selected>Studio</option>

                      {%else%}
                      <option value="studio">Studio</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      {%endif%}
                    </select>
                  </div>
                  <div class="form-group">
                    <select class="selectpicker search-fields" name="bathrooms">
                      <option value="Bathroom">All Bathroom</option>
                      {%if properties_data.selected_bathrooms == "1"%}
                      <option value="1" selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>

                      {%elif properties_data.selected_bathrooms == "2" %}
                      <option value="1">1</option>
                      <option value="2" selected>2</option>
                      <option value="3">3</option>

                      {%elif properties_data.selected_bathrooms == "3" %}
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3"selected>3</option>

                      {%else%}
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>

                      {%endif%}
                    </select>
                  </div>
        
          
              <div class="range-slider clearfix form-group mb-30">
                <label>Price</label>
                <div data-min="0" data-max="1000000" data-min-name="min_price" data-max-name="max_price" data-unit="£"
                  class="range-slider-ui ui-slider" aria-disabled="false"></div>
                <div class="clearfix"></div>
              </div>

              <div class="range-slider clearfix form-group">
                <label>Deposit</label>
                <div data-min="0" data-max="100000" data-min-name="min_deposit" data-max-name="max_deposit" data-unit="£"
                  class="range-slider-ui ui-slider" aria-disabled="false"></div>
                <div class="clearfix"></div>
              </div>

              
              <div class="accordion accordion-flush other-features mb-30" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Other Features
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <h3 class="sidebar-title">Features</h3>

                      <div class="s-border"></div>
                      <div class="m-border"></div>

                      {%for feature in common_properties_data.feature_list%}
                      <div class="checkbox checkbox-theme checkbox-circle">
                        <input id="feature_{{feature.id}}" type="checkbox" name="feature" value="{{feature}}" />
                        <label for="feature_{{feature.id}}">
                          {{feature}}
                        </label>
                      </div>
                      {%endfor%}
                    </div>
                  </div>
                </div>
              </div>

              <input type="hidden" name="features_list" value="" id="features_list" />
              <div class="form-group mb-0">
                <button class="search-button" id="FilterButton">Search</button>
              </div>
            </form>
          </div>
          <!-- Recent properties start -->
          <div class="widget recent-properties">
            <h3 class="sidebar-title">Recent Properties</h3>
            <div class="s-border"></div>
            <div class="m-border"></div>
            {%for property in common_properties_data.recent_properties%}
            <div class="d-flex mb-3 recent-posts-box">
                <a class="col-6 p-0" href="/properties/{{property.id}}">
                    <img src="/media/{{property.image}}" alt="small-properties" class="flex-shrink-0 img-fluid w-100" />
                </a>
                <div class="detail col-6 align-self-center">
                    <h5 class="m-0">
                        <a href="/properties/{{property.id}}">{{property.title}}</a>
                    </h5>
                    <div class="listing-post-meta">
                        ${{property.price}}
                        <a href="/properties/{{property.id}}" class="d-block"><i class="fa fa-calendar"></i>
                            {{property.pub_date}} </a>
                    </div>
                </div>
            </div>
            {%endfor%}
          </div>


          
        </div>
      </div>

      <div class="col-lg-8 col-md-12">
        <!-- Option bar start -->
        <div class="option-bar">
          <div class="row">
            <div class="col-lg-6 col-8">
              <div class="sorting-options2">
                  <span class="sort">Sort by:</span>
                  <select class="selectpicker search-fields" name="sort_properties" id="sort-list" onchange="location = finalurl();">
                    <option>Default Order</option>
                    <option value="price_high_low" {{properties_data.is_price_high_low}}>
                      Price High to Low
                    </option>
                    <option value="price_low_high" {{properties_data.is_price_low_high}}>
                      Price: Low to High
                    </option>
                    <option value="latest_property" {{properties_data.is_latest_property}}>
                      Newest Properties
                    </option>
                    <option value="oldest_property" {{properties_data.is_oldest_property}}>
                      Oldest Properties
                    </option>
                  </select>
              </div>
            </div>
          </div>
        </div>

        
    {%if page_data.not_found%}
        <div class="pages-404">
        <div class="nobottomborder">
          <h1 style='color:#00CE8D'>
            It seems we can't find what you're looking for.!</h1>
          <div class="row">
            <div class="col-lg-5 col-md-5">
              <div class="coming-form clearfix" style="margin-top:0px;">
                      <p>Please try searching again</p>
                      
                  </div>
            

                </div>
</div>
    
{%endif%}
        <div id="list_view_div">
          {%for property in properties %}
          <!-- Property box 2 start -->
          <div class="property-box-2">
            <div class="row g-0">
              <div class="col-lg-5 col-md-5">
                <div class="property-photo">
                  <a href="/properties/{{property.id}}" class="property-img">
                    <img src="/media/{{property.image}}" alt="properties" class="img-fluid" />
                    {%if property.status%}
                    <div class="listing-badges">
                      <div class="tag">{{property.status}}</div>
                    </div>
                    {%endif%}
                    <div class="price-box">
                      From <span>£{{property.price}}</span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-7 col-md-7">
                <div class="detail">
                  <div class="hdg">
                    <h3 class="title">
                      <a href="/properties/{{property.id}}">{{property.title}}</a>
                    </h3>
                    <h5 class="location">
                      <a href="/properties/{{property.id}}"><span>
                        <i class="fa fa-map-marker"></i>{{property.city | title}}</span>
                      </a>
                    </h5>
                    {%if property.yields %}
                    <h5 class="location">
                      <a><span> <i class="fa fa-info-circle"></i> Net Yields: </span>{{property.yields}}</a>
                    </h5>
                    {%endif%}

                    {%if property.room %}
                    <h5 class="location"><a><span><i class="fa fa-home"></i> Units: </span>{{property.type | title}}</a></h5>
                    {%endif%}
                  </div>

                  <div class="footer">
                    {% if property.is_favorite %}
                    <i class="heart fa fa-heart" id="{{property.id}}"></i>
                    {%else%}
                    <i class="heart fa fa-heart-o" id="{{property.id}}"></i>
                    {%endif%}
                    <span> <i class="flaticon-calendar"></i>{{property.pub_date}} Ago</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>


        {% if is_paginated %}
        <div class="pagination-box hidden-mb-45 text-center">
          <nav class="pagination">
            <ul class="pagination">
              {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" tabindex="-1" aria-disabled="true"
                  href="{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
              </li>
              {% endif %}
              {% for i in paginator.page_range %}
              {% if i == page_obj.number%}
              <li class="page-item">
                <a class="page-link active" href="{% relative_url i 'page' request.GET.urlencode %}">{{i}}</a>
              </li>


              {% else %}
              <li class="page-item">
                <a class="page-link " href="{% relative_url i 'page' request.GET.urlencode %}">{{i}}</a>
              </li>

              {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" tabindex="-1"
                  href="{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
        {% endif %}


      </div>
    </div>
  </div>
</div>

<!-- Full Page Search -->
<div id="full-page-search">
  <button type="button" class="close">×</button>
  <form action="index.html#">
    <input type="search" value="" placeholder="type keyword(s) here" />
    <button type="submit" class="btn btn-sm button-theme">Search</button>
  </form>
</div>
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
<script src="jquery.ui.touch-punch.min.js"></script>

<script>
  function finalurl() {
    var url = new URL(window.location.href);
    var search_params = url.searchParams;
    search_params.set('ordering', document.getElementById("sort-list").value);
    url.search = search_params.toString();
    var new_url = url.toString();
    console.log(new_url)
    return new_url
  }


  $(document).ready(function () {
    $("#FilterButton").click(function () {
      var dt = [];
      $.each($("input[name='feature']:checked"), function () {
        dt.push($(this).val());
      });
      document.getElementById("features_list").value = dt;
    });
  });

  $(".change-view-btn").on("click", function (e) {
    if (this.id == "grid_view") {
      $("#grid_view_div").show();
      $("#list_view_div").hide();
      $("#grid_view").addClass("active-view-btn");
      $("#list_view").removeClass("active-view-btn");
    } else if (this.id == "list_view") {
      $("#list_view").addClass("active-view-btn");
      $("#grid_view").removeClass("active-view-btn");
      $("#list_view_div").show();
      $("#grid_view_div").hide();
    }
  });
</script>

<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap-submenu.js"></script>
<script src="js/rangeslider.js"></script>
<script src="js/jquery.mb.YTPlayer.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.scrollUp.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/leaflet.js"></script>
<script src="js/leaflet-providers.js"></script>
<script src="js/leaflet.markercluster.js"></script>
<script src="js/dropzone.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.filterizr.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/boxes-component.js"></script>
<script src="js/boxes-core.js"></script>
<script src="js/maps.js"></script>
<script src="js/app.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
<!-- Custom javascript -->
<script src="js/ie10-viewport-bug-workaround.js"></script>

{%endblock body%}
