{% extends 'user/basic.html' %} {% load static %} {% block title %} Meet The Team {%endblock title%} {% block css %} {% endblock css %} {% block body %}

<!-- Sub banner start -->
<div class="sub-banner">
  <div class="container">
    <div class="breadcrumb-area">
      <h1>{{page_data.member_name}}</h1>
      <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li class="active"><a href='/about'>About</a></li> <li class="active">blog</li>
      </ul>
    </div>
  </div>
</div>
<!-- Sub banner end -->
<div class="container my-5">

    <header class="container my-5">
{{blog_content.title | safe}}
    <div class="d-flex justify-content-center">
      <div class="col-12 d-flex justify-content-center  gap-4  align-items-center mb-5">
        <h5 class="fs-5 text-center mb-0 p-0">Share to:</h5>
        <div class="d-flex gap-3 justify-content-between">
          <a class="btn cont-sec" href="https://www.instagram.com/?url=https://google.com">
            <i class="fa fa-instagram"></i>
          </a>
          <a class="btn cont-sec" href="https://www.facebook.com/sharer/sharer.php?u=https://google.com">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="btn cont-sec" href="https://google.com">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="btn cont-sec" href="https://wa.me/whatsappphonenumber/?text=https://google.com">
            <i class="fa fa-whatsapp"></i>
          </a>
        </div>
      </div>

    </div>
  </header>
  <hr/>

  {{blog_content.content | safe}}

<!-- Share Buttons Start -->
  <div class="d-flex justify-content-center">
    <div class="col-12 d-flex justify-content-center  gap-4  align-items-center mb-5">
      <h5 class="fs-5 text-center mb-0 p-0">Share to:</h5>
      <div class="d-flex gap-3 justify-content-between">
        <a class="btn cont-sec" href="https://www.instagram.com/?url=https://google.com">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="btn cont-sec" href="https://www.facebook.com/sharer/sharer.php?u=https://google.com">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="btn cont-sec" href="https://google.com">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="btn cont-sec" href="https://wa.me/whatsappphonenumber/?text=https://google.com">
          <i class="fa fa-whatsapp"></i>
        </a>
      </div>
    </div>

  </div>
<!-- Share Buttons Start -->


  <div class="row bg-para mx-0 d-flex justify-content-center" style="height:70vh">
    <div class="col-md-6 col-12 p-3 d-flex align-items-center justify-content-center">
      <div class="text-center">
        <h2 class="h2 py-3" style="color:#00CE8D;">Explore our properties</h2>
        <button class="btn btn-lg cont-sec"><i class="fa fa-group pe-2"></i> Explore Now</button>
      </div>
    </div>
    <div class="col-md-6 p-3 col-12 d-flex align-items-center justify-content-center">
      <div class="text-center">
        <h2 class="h2" style="color:#00CE8D;">From £249,950</h2>
        <h5 class="h5 fw-light text-light"><i class="fa fa-info-circle"></i> Yield: 13.5%</h5>
        <h5 class="h5 fw-light text-light"><i class="fa fa-building"></i> In Construction</h5>
        <h5 class="h5 fw-light text-light"><i class="fa fa-calendar"></i> Est. Q4 2024</h5>
        <h5 class="h5 fw-light text-light"><i class="fa fa-clock-o"></i> Lease Length: 250 Years</h5>
      </div>
    </div>
  </div>


  <hr style="height:5px;background:black"/>

<!-- Related Article section start -->

  <div class="row">

    <h1 class="h1 text-center py-4" style="color:#00CE8D;"><span style="color:#262525">Related </span>Articles</h1>

    <div class="slick-slider-area ">
      <div
        class="row slick-carousel"
        data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
          <!--Blog Card  Start-->
          <div class="slick-slide-item col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="position-relative tm-card" style="height:550px!important">
              <img src="{% static 'img/background-index/1.jpg' %}"
              class="w-100" style="height:80%;object-fit:cover;">

              <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
                <div class="card text-dark bg-light mb-3">
                  <h5 class="pt-3 mb-0 ps-3">Your Guide to Investing in Property That Hasn’t Begun Construction </h5>
                  <p class="card-header pb-3"><i class="fa fa-calendar"></i> January 4, 2023</p>
                  <div class="card-body">
                    <p>
                      Even though buying off-the-plan properties is becoming more and more common,
                    </p>
                    <button class="btn btn-lg cont-sec">Read more...</button>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <!--Blog Card  End-->


          <!--Blog Card  Start-->
          <div class="slick-slide-item col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="position-relative tm-card" style="height:550px!important">
              <img src="{% static 'img/background-index/1.jpg' %}"
              class="w-100" style="height:80%;object-fit:cover;">

              <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
                <div class="card text-dark bg-light mb-3">
                  <h5 class="pt-3 mb-0 ps-3">Your Guide to Investing in Property That Hasn’t Begun Construction </h5>
                  <p class="card-header pb-3"><i class="fa fa-calendar"></i> January 4, 2023</p>
                  <div class="card-body">
                    <p>
                      Even though buying off-the-plan properties is becoming more and more common,
                    </p>
                    <button class="btn btn-lg cont-sec">Read more...</button>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <!--Blog Card  End-->

          <!--Blog Card  Start-->
          <div class="slick-slide-item col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="position-relative tm-card" style="height:550px!important">
              <img src="{% static 'img/background-index/1.jpg' %}"
              class="w-100" style="height:80%;object-fit:cover;">

              <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
                <div class="card text-dark bg-light mb-3">
                  <h5 class="pt-3 mb-0 ps-3">Your Guide to Investing in Property That Hasn’t Begun Construction </h5>
                  <p class="card-header pb-3"><i class="fa fa-calendar"></i> January 4, 2023</p>
                  <div class="card-body">
                    <p>
                      Even though buying off-the-plan properties is becoming more and more common,
                    </p>
                    <button class="btn btn-lg cont-sec">Read more...</button>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <!--Blog Card  End-->

          <!--Blog Card  Start-->
          <div class="slick-slide-item col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="position-relative tm-card" style="height:550px!important">
              <img src="{% static 'img/background-index/1.jpg' %}"
              class="w-100" style="height:80%;object-fit:cover;">

              <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
                <div class="card text-dark bg-light mb-3">
                  <h5 class="pt-3 mb-0 ps-3">Your Guide to Investing in Property That Hasn’t Begun Construction </h5>
                  <p class="card-header pb-3"><i class="fa fa-calendar"></i> January 4, 2023</p>
                  <div class="card-body">
                    <p>
                      Even though buying off-the-plan properties is becoming more and more common,
                    </p>
                    <button class="btn btn-lg cont-sec">Read more...</button>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <!--Blog Card  End-->

          <!--Blog Card  Start-->
          <div class="slick-slide-item col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="position-relative tm-card" style="height:550px!important">
              <img src="{% static 'img/background-index/1.jpg' %}"
              class="w-100" style="height:80%;object-fit:cover;">

              <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
                <div class="card text-dark bg-light mb-3">
                  <h5 class="pt-3 mb-0 ps-3">Your Guide to Investing in Property That Hasn’t Begun Construction </h5>
                  <p class="card-header pb-3"><i class="fa fa-calendar"></i> January 4, 2023</p>
                  <div class="card-body">
                    <p>
                      Even though buying off-the-plan properties is becoming more and more common,
                    </p>
                    <button class="btn btn-lg cont-sec">Read more...</button>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <!--Blog Card  End-->

          <!--Blog Card  Start-->
          <div class="slick-slide-item col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="position-relative tm-card" style="height:550px!important">
              <img src="{% static 'img/background-index/1.jpg' %}"
              class="w-100" style="height:80%;object-fit:cover;">

              <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
                <div class="card text-dark bg-light mb-3">
                  <h5 class="pt-3 mb-0 ps-3">Your Guide to Investing in Property That Hasn’t Begun Construction </h5>
                  <p class="card-header pb-3"><i class="fa fa-calendar"></i> January 4, 2023</p>
                  <div class="card-body">
                    <p>
                      Even though buying off-the-plan properties is becoming more and more common,
                    </p>
                    <button class="btn btn-lg cont-sec">Read more...</button>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <!--Blog Card  End-->



      </div>
      <div class="slick-btn mb-5">
        <div class="slick-prev slick-arrow-buton-2 sab-4">
          <i class="fa fa-angle-left"></i>
        </div>
        <div class="slick-next slick-arrow-buton-2 sab-3">
          <i class="fa fa-angle-right"></i>
        </div>
      </div>
    </div>

  </div>
<!-- Related Article secion End -->

</div>
{%endblock body%} {% block script %} {% endblock script %}
